@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #2C413D;
}

a{
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
  background-color: inherit;
}

/************************************* Header *************************/

.logo{
  width: 100%;
  img{
    margin: 30px auto;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 100px;
    border: 3px solid black;
  }
}

.navLinks{
  ul{
    list-style: none;
    text-align: center;
    margin: 0 12% 30px 12%;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
    color: white;
    font-size: 16px;

  }
  li{
    display: inline-block;
    margin-right: 10%;
    &:hover{
      color: #1FC8FB;
    }
  }
}

/************************************* Footer *************************/
.footer{
  border-top: 3px solid black;
  margin: 0 12% 30px 12%;
}



/************************************* HomeView *************************/
.imageTiles{
  @include outer-container;
  width: 65%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tile{
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 15px;
}

.photo {
  width: 100%;
  &:hover{
    opacity: 0.7;
  }
}

/************************************* Single Picture View *************************/
.onePicSetUp{
  padding-top: 30px;
  padding-bottom: 30px;
  @include outer-container;
}

.singleImage{
  @include span-columns(6);
  @include reset-display;
  @include pad(); 
  img{
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
  }
}

.imageInfo{
  @include span-columns(6);
  @include pad();
}

.title{
  font-size: 32px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.description{
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.navBtns{
  margin-top: 75px;
  text-align: center;
  color: white;
  button{
    margin-right: 25px;
    &:hover{
      color: #1FC8FB;
    }
  }
}

/******************************************** Upload New Photo ***********************/

.formTitle{
  text-align: center;
  font-size: 32px;
  color: #660C06;
}

.newPicForm{
  margin-left: 20%;
  margin-right: 20%;
  input{
    display: block;
    margin-bottom: 15px;
    height: 25px;
    border-radius: 3px;
  }
  .giveTitle {
    width: 80%;
  }
  .giveImage {
    width: 80%;
  }
  .giveDescription{
    width: 100%;
    height: 250px;
  }
}

.submissions{
  text-align: center;
  button{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #2C413D;
    margin-right: 30px;
    border-radius: 3px;
    background-color: white;

    &:hover{
      color: white;
      background-color: #2C413D;
    }
  }
}


















